# 1. 默认忽略该目录下的所有文件
*

# 2. 但是！不忽略文件夹 (保证子目录结构)
!*/

# 3. 但是！不忽略以下后缀的源码文件 (白名单)
!*.cpp
!*.c
!*.hpp
!*.h
!*.md
!*.txt

# 4. 当然，不要忽略 .gitignore 自己
!.gitignore

# =======================================================
# -f: 强制删除
# -d: 删除目录
# -X: 仅删除被 .gitignore 忽略的文件
# git clean -fdX